{% load static %}

        <section class="pt-50 pb-10">
            <div class="container text-center">
                <div class="row mb-50">
                <img src="{% static 'assets/img/bg/illustration-1.jpg' %}" style="width=100%; height:100%;">
                    <div class="col-lg-9 col-md-800">
                        <div style="margin-left:42.5%; margin-top:-25%">
                            <h3 class="cta-title">Sign Up To Newsletter</h3>
                            <p class="text-capitalize">Join Our subscribers Comminity and get a new discount coupon  on every Saturday from offersHive.com.</p>
                            <div class="subscribe__form">
                                <form action="#">
                                    <input type="email" placeholder="Enter your email here...">
                                    <button>subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

